/* using fonts 
1. Cormorant
2.Raleway
3.



*/
/* color:
1. primagy-bg : #EFEFEF
2. redish-gray : #98846D
3. black-gray : #514E48
4. light-gray : #64625D
*/
/* call google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


.portfolio-shape-bg{
    background: url(./img/circle.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    
}
.portfolio-shape-bg-left{
    background: url(./img/circle.png);
    background-repeat: no-repeat;
    background-position-x: -114px;
    background-position-y: 8px;
    background-size: 560px;
    
}